body {
	padding: 0px;
	margin: 0px;
}

.page-pad {
	padding: 0px 100px;
}

.background-home {
	color: white;
	background-image: url("img/background1.jpg");
	background-size: cover;
	padding-top: 100px;
}

.navbar {
	padding: 30px 90px !important;
	position: relative;
	transition: 0.5s;
}

.fixed-nav {
	position: fixed !important;
	width: 100%;
	z-index: 99999999;
}

.navbar-brand-custom {
	font-weight: bold;
	color: white !important;
}

.navbar-item-custom {
	text-decoration: none;
	color: white;
	padding: 0px 10px;
}

.navbar-item:hover {
	color: #c4bfaf !important;
	text-decoration: none;
}

.affix {
	width: 100%;
	background-color: white;
	top: 0;
	z-index: 999999;
	height: 76px;
	padding: 30px 90px !important;
}

.color-orange {
	color: #f77c2f;
}

.color-darkgrey {
	color: #94918a;
}

.color-white {
	color: white;
	text-decoration: none;
}

.Home {
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.home-link-item {
	border-radius: 100%;
	background-color: #f77c2f;
	width: 25px;
	text-align: center;
	margin-right: 10px;
	margin-top: 5px;
}

.about-home-link {
	padding-top: 35px;
	padding-bottom: 30px;
}

.about {
	padding-top: 70px;
	padding-bottom: 70px;
}

.hi {
	padding-bottom: 2px;
} 
.pii {
	padding-bottom: 5px;
	padding-top: 5px;
	color: #c4bfaf;
}

.about-item {
	color: #c4bfaf;
	align-content: center;
	margin: 0;
	padding-bottom: 20px; 
}

.about-icon {
	border: solid 2px;
	border-color: #94918a;
	padding: 1px 5px;
	margin: 5px;
}

.about-icon:hover {
	border-color: #f77c2f;
	color: #f77c2f;
}
i:hover {
	color: #f77c2f !important;
}

.about-icon-text {
	padding: 4px;
	margin: 0;
	color: #94918a;
	width: 70px;
	font-weight: 600;
}

.thin-text {
	padding: 4px;
	margin: 0;
}

.link-about {
	padding: 20px 0;
}

.link-about-button {
	border: solid 2px;
	border-color: #f77c2f;
	color: white;
	background-color: #f77c2f;
	text-decoration: none;
	padding: 10px 15px;
	margin-right: 10px;
	font-weight: bold;
}

.link-about-button:hover {
	color: #f77c2f;
	background-color: transparent;
	border: solid 2px;
	padding: 10px 15px;
	margin-right: 10px;
	text-decoration: none;
	font-weight: bold;
	border-color: #f77c2f;
}

.img-me {
	height: 100%;
	width: 100%;
}

.skill-page {
	background-color: #f7f7f7;
	padding-top: 80px;
	padding-bottom: 80px;
}

.bar {
	background-color: white;
	width: 100%;
	border-radius: 40px;
	height: 10px;
}

.bar-name {
	padding-bottom: 10px;
	color: black;
	font-weight: 400;
	width: 100%;
}

.name-bar {
	padding-top: 10px;
	padding-bottom: 20px;
}

.back-oren {
	background-color: #f77c2f;
	border-radius: 40px;
	height: 10px;
}

.ei-se {
	width: 87%;
}

.ni-se {
	width: 97%;
}

.ei-on {
	width: 81%;
}

.ni-ze {
	width: 90%;
}

.offer {
	text-align: center;
}

.offer2 {
	display: flex;
	justify-content: center;
}

.service {
	padding-top: 90px;
	padding-bottom: 90px;
}

.card {
	margin: 0px 12px;
	background-color: #f0f0f0 !important;
	box-shadow: 5px 5px 5px 5px #d4d4d4 !important;
	margin-top: 20px;
	padding-top: 10px;
}

.ser-logo {
	background-color: #f77c2f;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	position: absolute;
	left: 43%;
	padding-top: 17px;
}

.card-title {
	padding-top: 80px;
}

.stripor {
	width: 35px;
	height: 2px;
	background-color: #f77c2f;
	margin: 0px 10px;
	position: relative;
	top: 11px;
}

.stacktis {
	background-image: url(img/background2.jpg) !important;
	background-attachment: fixed;
	width: 100%;
}

.komen {
	padding: 80px 0px;
}

.count {
	padding: 80px 0px;
}

.count-item {
	justify-content: center;
	text-align: center;
}

.count-number {
	color: #2d2e2e;
	font-size: 50px;
	font-weight: 600;
}

.count-name {
	color: #2d2e2e;
	font-size: 25px;
	font-weight: 600;	
}

.portfolio {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #f7f7f7;
}

.portfolio-thing {
	padding-top: 40px;
	padding-bottom: 10px;
}

.portfolio-tag {
	justify-content: center;
	margin-bottom: 35px;
}

.tag-button {
	margin: 0px 12px;
	padding: 5px 10px;
	border: solid 1px;
	font-weight: 400;
	background-color: #f7f7f7;
}

.product-item {
	background-attachment: inherit;
	padding: 30px 0px;
	width: 100%;
	height: 250px;
}

.product-type {
	text-align: center;
	padding: 20px 0px;
	width: 100%;
	background-color: white;
}

.product-button {
	text-align: center;
	margin-top: 55px;
}

.product-link {
	background-color: white;
	padding: 10px;
	border-radius: 4px;
	margin-right: 3px;
	margin-left: 3px;
}

.blog {
	padding-top: 80px;
	padding-bottom: 80px;
}

.blog-item-card {
	margin: 30px 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #d4d4d4;
}

.blog-img {
	width: 100%;
	height: 250px;
}

.date-color {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -24px;
	z-index: 999999;
	position: absolute;
}

.orange-back {
	background-color: #f77c2f;
	color: white;
	width: 50px;
	text-align: center;
	margin: 0;
}

.grey-back {
	background-color: #94918a;
	color: white;
	width: 50px;
	text-align: center;	
}

.read {
	padding-left: 30px;
	padding-right: 30px;
}

.read-more {
	color: black;
	text-decoration: none;
}

.back-oren-read {
	background-color: #f77c2f;
	border-radius: 40px;
	height: 2px;
	width: 24%;
}

.read-more:hover{
	color: #f77c2f;
}

.blog-bottom {
	background-color: #f77c2f;
	justify-content: center;
}

.logo-blog {
	padding: 10px 5px;
}

.contact {
	background-color: #f7f7f7;
	padding-top: 50px;
}

.contact-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}

.contact-input-box {
	width: 48%;
	height: 45px;
	padding: 10px;
}

.contact-text {
	width: 100%;
	height: 250px;
	padding: 10px;
	margin-bottom: 35px;
}

.footer {
	background-color: black;
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0px;
}

.foot_font {
	margin: 0px;
	text-align: center;
	color: #f7f7f7;
}